choice
    prompt "HDMI Audio Interface"
    depends on SLSI_OUT_HDMI
    default SLSI_HDMI_AUDIO_SPDIF
    help
      Choose which interface to use for hdmi audio output

config SLSI_HDMI_AUDIO_SPDIF
    depends on SLSI_OUT_HDMI
    bool "SPDIF"

config SLSI_HDMI_AUDIO_I2S
    depends on SLSI_OUT_HDMI
    bool "I2S"

endchoice

config SLSI_HDMI_USE_HDCP
    depends on SLSI_OUT_HDMI
    bool "HDMI use HDCP block"
    default n
    ---help---
      Say y here to enable hdcp module
