#
# Copyright 2009 Nexell.
#
# Configuration options for the NXP4330

#
# Select Board
#

comment "SECRET Board features"

choice
    prompt "H/W Event Features"
    default SECRET_1ST_BOARD

	config SECRET_1ST_BOARD
		bool "H/W 1st Board"
		help
   	 		SECRET H/W 1st Board.

	config SECRET_2ND_BOARD
		bool "H/W 2nd Board"
		help
   	 		SECRET H/W 2nd Board.

	config SECRET_2P1ND_BOARD
		bool "H/W 2.1 Board"
		help
   	 		SECRET H/W 2.1 Board.

	config SECRET_3RD_BOARD
		bool "H/W 3rd Board"
		help
   	 		SECRET H/W 3rd Board.
endchoice
