#
# Copyright 2009 Nexell.
#


# Select Board types
comment "Board features"

choice
    prompt "Platform board"
    default PLAT_S5P6818_AVN_REF_BT

   	config PLAT_S5P6818_SVT
		bool "SVT: Android SVT board"
		help
   	 		Support for the SVT board.

   	config PLAT_S5P6818_AVN_REF
		bool "S5P6818 Android AVN board"
		help
   	 		Support for the AVN REF board.

   	config PLAT_S5P6818_AVN_REF_BT
		bool "S5P6818 Android AVN BT board"
		help
   	 		Support for the AVN REF BT board.

endchoice

#
# Board dependent configure
#
