#
# Copyright 2009 Nexell.
#

# Select Board types
comment "Board features"

choice
    prompt "Platform board"
    default PLAT_S5P4418_LEPUS_QUICK

    config PLAT_S5P4418_LEPUS_QUICK
        bool "DRONE: Android lepus board for quick boot"
        help
            Support for the lepus quick board.



endchoice

#
# Board dependent configure
#


