#
# Copyright 2009 Nexell.
#

# Select Board types
comment "Board features"

choice
    prompt "Platform board"
    default PLAT_S5P4418_DRONE

	config PLAT_S5P4418_SVT
		bool "SVT: Linux svt board"
		help
   	 		Support for the svt board.

	config PLAT_S5P4418_MSD8000B
		bool "AVN: Android msd8000b AVN board"
		help
   	 		Support for the msd8000b avn board.

	config PLAT_S5P4418_AVN_REF
		bool "AVN: Android AVN reference board"
		help
   	 		Support for the AVN reference board.

	config PLAT_S5P4418_TK_AVN
		bool "DRONEL: Android tk_anv board"
		help
			Support for the tk_avn board.

endchoice

#
# Board dependent configure
#


